:root {
    --black: #131313;
    --dark-gray: #222222;
    --gray: #676767 ;
    --white: #ffffff ;
    --gray-border: #efefef;
    --gray-background: #f6f6f6;
    --bright-blue: #17469d;
    --blue: #07255d;
    --dark-blue: #272b36;
    --orange: #f4791f;
    --gray-form-background:#f7f7f7;
    --gray-form: #f4f4f4;
    --gray-form-border: #dddddd;
    --graydf: #dfdfdf;
}

/* header영역 */
.header {
    position: absolute;
    left: 90px; right: 90px; top: 20px;
    z-index: 100;
    background: var(--white);
    transition: background .6s;
}
.header.fixed {
    position: fixed;
}
.header.bg {
    width: 100%;
    top: 0;
    left: 0; right: 0;
    transition: .8s;
}
.header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}
.header > div > nav {
    flex: 1;
    padding-left: 138px;
}
.header-bg {
    display: none;
    position: absolute;
    top: 110px;
    left: 90px; right: 90px;
    height: 330px;
    background: rgb(41, 39, 38, 0.7);
    z-index: 99;
    box-sizing: border-box;
}
.header-bg.bg-fixed {
    position: fixed;
    top: 90px;
}
.header-bg.color{
    background:rgb(41, 39, 38, 0.9);
}
.gnb {
    display: flex;
    font-size: 17px;
    color: var(--dark-gray);
}
.gnb > li > a {
    display: inline-flex;
    align-items: center;
    height: 90px;
    padding: 0 68px 0 38px;
}
.gnb > li > a:hover {
    color: var(--bright-blue);
}
.gnb__list {
    display: none;
    padding: 18px 0;
    position: absolute;
    top: 90px;
    z-index: 100;
}
.gnb__list > li > a {
    position: relative;
    display: inline-flex;
    padding: 12px 0 12px 30px;
    width: 100%;
    font-size: 15px;
    color: white;
} 
.gnb__list a:hover {
    color: var(--orange);
}
.logo a {
    display: block;
    width: 110px;
    height: 47px;
    background: url(../images/bg_logo.png) no-repeat;
}
.menu-btn button {
    font-size: 10px;
    padding-left: 27px;
    background: none;
}
.menu-btn .color {
    color: var(--gray);
    padding-right: 27px;
}
.menu-btn .menu {
    width: 32px;
    height: 22px;
    background: url(../images/bg_menu.png) no-repeat;
}
.list-type1 {
    font-size: 13px;
    color: var(--white);
}
.list-type1 li a::before {
    content: '';
    width: 4px;
    height: 1px;
    background: var(--white);
}
.list-type1 li a {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0 30px;
}


/* index-visual */
.index-visual {
    /* overflow: hidden; */
    position: relative;
}
.index-visual img {
    width: 100%;
}
.index-visual-txt {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
    color: var(--white);
}
.index-visual-txt strong {
    font-size: 35px;
    font-weight: 500;
}
.index-visual-txt p {
    margin: 23px 0 50px;
    font-size: 19px;
}
.index-visual-txt a {
    font-size: 12px;
    width: 200px;
    height: 50px;
    border: 1px solid var(--white);
    border-radius: 26px;
    box-sizing: border-box;
    padding: 18px 54px;
    transition: .5s;
}
.index-visual-txt a:hover {
    background: var(--white);
    color: var(--black);
}
.index-visual-btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    margin: 0 auto;
    z-index: 10;
}
.index-visual-btn .prev {
    width: 70px;
    height: 70px;
    background: url(../images/ico_prev.png) no-repeat;
}
.index-visual-btn .next {
    width: 70px;
    height: 70px;
    background: url(../images/ico_next.png) no-repeat;
}
.index-visual-btn .prev:hover, .index-visual-btn .next:hover {
    opacity: .5;
}
.visual-2 img,
.visual-3 img {
    width: 100%;
}

.business {
    width: 1140px;
    margin: 0 auto;
}
.business h2 {
    padding: 65px 0 28px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.business p {
    padding: 0 0 45px;
    text-align: center;
    font-size: 15px;
}
.business-list {
    display: flex;
    gap: 20px;
}

.business-list .thumb {
    overflow: hidden;
    width: 100%;
    height: 365px;
}
.business-list .thumb img {
    transition: .5s;
}
.business-list a:hover img {
    transform: scale(1.1);
}
.business-list .title {
    padding: 20px 0 10px;
    font-size: 20px;
}
.business-list .subtitle {
    font-size: 15px;
    padding: 0 0 22px;
    border-bottom: 2px solid var(--gray-border);
}
.business-list .information {
    padding: 18px 0 0;
    font-size: 14px;
    color: var(--gray);
}
.business .view {
    text-align: center;
    padding: 44px 0 69px;
}
.view button {
    width: 180px;
    height: 50px;
    font-size: 11px;
    border-radius: 26px;
    border: 1px solid var(--gray);
    box-sizing: border-box;
    background: none;
    transition: .5s;
}
.view button:hover {
    color: var(--white);
    border: 1px solid var(--orange);
    background: var(--orange);
}

.technological-wrap {
    width: 1180px;
    height: 880px;
    margin: 0 auto;
}
.technological {
    background: linear-gradient(to bottom, var(--gray-background), var(--gray-background) 50%, var(--white) 50%, var(--white));
}
.technological h2 {
    text-align: center;
    padding: 55px 0 43px;
    font-size: 30px;
    font-weight: 500;
}
.technological-list {
    width: 1177px;
    margin: 0 auto;
    display: flex;   
    gap: 20px;
}
.technological-list .thumb {
    overflow: hidden;
    width: 100%;
    height: 545px;
}
.technological-list .thumb img {
    transition: .5s;
}
.technological-list a:hover img {
    transform: scale(1.1);
}
.technological-txt {
    position: relative;
}
.technological-txt .txt {
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: 275px; 
    right: 195px;
    color: var(--white);
}
.technological-txt .ico-arrow {
    position: absolute;
    top: 120px;
    left: 50px;
    width: 70px;
    height: 70px;
    background: url(../images/ico_arrow.png) no-repeat;
}
.technological-txt div span {
    font-size: 25px;
}
.technological-txt div b {
    font-size: 32px;
    font-weight: 500;
}
.technological-list li p {
    padding: 30px 0 25px;
    font-size: 15px;
    text-align: center;
    color: var(--gray);
}
.technological-list .view {
    text-align: center;
    padding: 0 0 60px;
}
.public-relations {
    background: linear-gradient(to right, var(--blue), var(--blue) 45%, var(--white) 45%, var(--white));
}
.public-wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 1180px;
    margin: 0 auto;
    padding: 250px 0;
}
.public-relations-left {
    color: var(--white);
}
.public-relations-left p {
    font-size: 24px;
}
.public-relations-left h2 {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 22px;
}
.public-relations-left .line {
    border-bottom: 2px solid var(--white);
    width: 80px;
    margin: 0 0 24px;
}
.public-relations-left span {
    font-size: 16px;
}
.public-relations-right  {
    position: absolute;
    right: 0;
    top: 168px;
}
.public-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 40px;
}
.public-img .thumb img {
    width: 273px;
    height: 175px;
    transition: .5s;
}
.public-img .thumb {
    overflow: hidden;
}
.public-img .thumb:hover img {
    transform: scale(1.1);
}
.public-img p {
    font-size: 15px;
    padding: 14px 0 0;
}
.public-view {
    padding: 50px 0 0;
}
.public-view button {
    width: 180px;
    height: 50px;
    font-size: 11px;
    color: var(--white);
    border-radius: 26px;
    border: 1px solid var(--white);
    box-sizing: border-box;
    background: none;
    transition: .5s;
}
.public-view button:hover {
    color: var(--blue);
    background: var(--white);
}

.about  {
    overflow: hidden;
    position: relative;
}

.about > img {
    width: 100%;
}
.about-txt {
    display: inline-block;
    z-index: 10;
    text-align: left;
    color: var(--white);
}
.about-txt b {
    font-size: 30px;
    font-weight: 500;
}
.about-txt p {
    font-size: 30px;
    padding: 0 0 33px;
}
.about-txt span {
    font-size: 15px;
}
.learn-btn {
    padding: 45px 0 0;
}
.learn-btn button {
    width: 180px;
    height: 50px;
    font-size: 11px;
    color: var(--white);
    border-radius: 26px;
    border: 1px solid var(--white);
    box-sizing: border-box;
    background: none;
    transition: .5s;
}
.learn-btn button:hover {
    color: var(--black);
    background: var(--white);
}
.about-kyungdong {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1180px;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.about .about-a ul {
    display: flex;
    gap: 20px;
    z-index: 10;
    text-align: center;
    color: var(--white);
}
.about-a ul li a {
    display: block;
    width: 220px;
    height: 220px;
}
.about-a .orange {
    background: rgb(237, 93, 0, .7);
}
.about-a .dark-blue {
    background: rgb(11, 16, 33, .7);
}
.about-a .blue {
    background: rgb(8, 26, 65, .7);
}
.about-a ul li div {
    padding: 50px 0 22px;
}
.about-a ul li b {
    font-size: 18px;
    font-weight: 500;
}
.about-a ul li p {
    font-size: 16px;
    padding: 10px 0 0;
}

.footer {
    height: 164px;
    background: var(--black);
}
.footer > div {
    width: 1180px;
    margin: 0 auto;
    color: var(--white);
    font-size: 12px;
}
.footer ul {
    padding: 44px 0 12px;
}



/* kyungdong1-1 */
/* 비주얼 */
.visual-2 {
    position: relative;
}
.visual-txt2 {
    color: var(--white);
    display: flex;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 28px;
}
/* 탭 */
.location {
    width: 1180px;
    margin: 0 auto;
    position: relative;
}
.location > ul {
    display: flex;
}
.location > ul > li {
    width: 100%;
    height: 60px;
    background: var(--bright-blue);
}
.tab {
    position: absolute;
    top: -30px; 
    width: 100%;
}
.location .tab > li > a {
    padding: 22px 20px;
 }
.location > ul >  li + li {
    border-left: 1px solid var(--white);
    box-sizing: border-box;
}
.location .home {
    display: flex;
    width: 60px;
}
.location .home a {
    width: 20px;
    height: 17px;
    background: url(../images/ico_home.png) no-repeat center;
}
.btn-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    width: 100%;
    height: 60px;
    padding: 0 25px;
    color: var(--white);
    background: none;
    text-align: left;
}
.btn-tab::after {
    content: '';
    width: 7px;
    height: 14px;
    background: url(../images/ico_arrow_off.png) no-repeat center;
}
.btn-tab.active::after {
    transform: rotate(90deg);
}

.tab-list {
    display: none;
    border: 1px solid var(--graydf);
    background: var(--gray-border);
}
.tab-list li:not(:last-child) {
    border-bottom: 1px solid var(--graydf);
}
.tab-list li a {
    display: inline-flex;
    padding: 20px 25px;
    width: 100%;
    font-size: 15px;
    color: var(--dark-gray);
    box-sizing: border-box;
}

/* 인사말 */
.ceo-greetings {
    width: 1180px;
    margin: 0 auto;
}
.ceo-greetings h3 {
    font-size: 27px;
    font-weight: 500;
    padding: 80px 0 34px;
    text-align: center;
    border-bottom: 1px solid var(--gray-border) ;
}
.ceo-greetings > div {
    display: flex;
}
.copy .copy-1 {
    font-size: 19px;
    padding: 56px 0 37px;
}
.copy .line {
    width: 80px;
    border: 1px solid var(--bright-blue);
}
.copy .copy-2 {
    font-size: 18px;
    padding: 38px 0 36px;
}
.copy .copy-3 {
    font-size: 16px;
}
.copy .copy-4 {
    font-size: 18px;
    color: var(--bright-blue);
    padding: 35px 0 33px;
}
.copy .copy-5 {
    font-size: 16px;
}
.copy .copy-6 {
    font-size: 16px;
    padding: 77px 0 195px;
}
.copy .copy-6 span {
    font-size: 23px;
}
.greetings-thumb img {
    border: 1px solid var(--gray-border);
    box-sizing: border-box;
    padding: 10px;
    margin: 57px 0 57px 43px;
}


/* kyungdong2-1 */
/* 비주얼 */
.visual-3 {
    position: relative;
}
.visual-txt3 {
    color: var(--white);
    display: flex;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
}
/* 해외투자현황 */
.overseas-development h3 {
    font-size: 28px;
    font-weight: 500;
    padding: 80px 0 34px;
    text-align: center;
    border-bottom: 1px solid var(--gray-border) ;
    width: 1180px;
    margin: 0 auto;
}
.business-txt {
    width: 1180px;
    margin: 0 auto;
}
.business-txt h4 {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    padding: 50px 0 30px;
}
.business-txt .copy-1 {
    font-size: 19px;
    text-align: center;
}
.business-txt .copy-1 span {
    color: var(--bright-blue);
}
.business-txt .copy-2 {
    font-size: 17px;
    text-align: center;
    padding: 26px 0 28px;
}
.information-thumbs ul {
    display: flex;
    gap: 20px;
}
.business-txt .copy-3 {
    font-size: 17px;
    color: var(--bright-blue);
    text-align: center;
    padding: 35px 0 29px;
}
.business-txt .copy-4 {
    font-size: 17px;
    text-align: center;
}
/* 해외자원개발 주요 프로젝트 */
.overseas-project {
    height: 1328px;
    background: var(--gray-form-background);
    margin-top: 55px;
}  
.overseas-project .project {
    width: 1180px;
    margin: 0 auto;
}
.overseas-project .project h4 {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    padding: 50px 0 30px;
}
.overseas-project .project h5 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.project .australia {
    display: flex;
    padding: 29px 0 0;
    gap: 20px;
}

.form tbody {
    border-top: 1px solid var(--bright-blue);
    box-sizing: border-box;
}
.form tr {
    font-size: 16px;
    border-bottom: 1px solid var(--gray-form-border);
    box-sizing: border-box;
}
.form th {
    font-weight: 500;
    text-align: center;
    background: var(--gray-form);
    border-right: 1px solid var(--gray-form-border);
    border-left: 1px solid var(--gray-form-border);
    box-sizing: border-box;
    height: 54px;
}
.form td {
    text-align: center;
    background: var(--white);
    border-right: 1px solid var(--gray-form-border);
}
.form p {
    font-size: 16px;
    color: var(--bright-blue);
    padding: 18px 0;
}

.project .mexico h5 {
    padding: 70px 0 0;
}
.project .mexico p {
    font-size: 17px;
    text-align: center;
    padding: 26px 0 28px;
}
.mexico-form {
    display: flex;
    gap: 20px;
}

/* kyungdong2-2 */
.engineering-business h3 {
    font-size: 28px;
    font-weight: 500;
    padding: 80px 0 34px;
    text-align: center;
    border-bottom: 1px solid var(--gray-border) ;
    width: 1180px;
    margin: 0 auto;
}
.project-form {
    width: 1180px;
    margin: 0 auto;
    text-align: center;
}
.project-form h4 {
    border-top: 1px solid var(--gray-border);
    font-size: 20px;
    font-weight: 500;
    padding: 53px 0 38px;
    margin-top: 41px;
}
.engineering-project tr {
    font-size: 16px;
    border-bottom: 1px solid var(--gray-form-border);
    border-left: 1px solid var(--gray-form-border);
    box-sizing: border-box;
}
.engineering-project thead th {
    padding: 21px 0;
    font-weight: 500;
    background: var(--gray-form);
    border-right: 1px solid var(--gray-form-border);
    border-top: 1px solid var(--bright-blue);
    box-sizing: border-box;
}
.engineering-project tbody td {
    padding: 16px 0 14px;
    background: var(--white);
    border-right: 1px solid var(--gray-form-border);
}

.paging {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 40px 0 50px;
}
.paging ol {
    display: flex;
    align-items: center;
    gap: 12px;
}
.paging ol li {
    font-size: 12px;
    width: 25px;
    height: 25px;
    border: 1px solid var(--white);
    box-sizing: border-box;
}
.paging ol li:hover {
    color: var(--bright-blue);
    width: 25px;
    height: 25px;
    border: 1px solid var(--bright-blue);
    box-sizing: border-box;
}
.paging .btn-first {
    width: 25px;
    height: 25px;
    background: url(../images/btn_first.png) no-repeat;
}
.paging .btn-prev {
    width: 25px;
    height: 25px;
    background: url(../images/btn_prev.png) no-repeat;
}
.paging .btn-next {
    width: 25px;
    height: 25px;
    background: url(../images/btn_next.png) no-repeat;
}
.paging .btn-last {
    width: 25px;
    height: 25px;
    background: url(../images/btn_last.png) no-repeat;
}

/* megamenu */
.dimmed {
    position: fixed;
    left: 0; right: 0; top:0; bottom:0;
    z-index: var(--zindex);
    background-color: rgba(0, 0, 0, 0.7);
}
.megamenu__wrap {
    padding: 55px 40px;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--zindex);
    width: 960px;
    border-top: 3px solid var(--blue);
    background: var(--white);
    box-sizing: border-box;
}
.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url(../images/ico_close.png);
}
.megamenu {
    display: flex;
    justify-content: space-between;
}
.megamenu > li > a {
    display: inline-flex;
    padding: 20px;
    width: 240px;
    font-size: 18px;
    font-weight: 500;
    color: var(--blue);
    border-bottom: 2px solid var(--blue) ;
    box-sizing: border-box;
}
.megamenu__list .list-type1 {
    font-size: 13px;
    color: var(--gray);
}
.megamenu__list .list-type1 li a::before {
    content: '';
    width: 4px;
    height: 2px;
    background: var(--gray);
}
.megamenu__list .list-type1 li a {
    display: flex;
    gap: 11px;
    align-items: center;
    padding: 8px 20px;
}
.megamenu__list .list-type1 li:last-child {
    padding: 0 0 30px;
}
.megamenu__list > li {
    color: var(--bright-blue);
    border-bottom: 1px solid var(--graydf);
}
.megamenu__list > li > a {
    display: inline-flex;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.mt35 {margin-top: 35px;}

/* 슬라이드 */
.swiper.index-visual-slide .index-visual__txt ,
.swiper.index-visual-slide img  {
    opacity: 0;
    transform: translateY(150px);
}
.swiper.index-visual-slide .swiper-slide.swiper-slide-active img {
    animation: toleft 1 .7s 1s both;
}
.swiper.index-visual-slide .swiper-slide.swiper-slide-active .index-visual-txt strong {
    animation: toleft 1 1.2s 1.5s both;
}

@keyframes toleft {
    0% {opacity: 0; transform: translateY(150px);}
    100% {opacity: 1; transform: translateY(0);}
}


/*  */
input[type="radio"]:focus + label,
input[type="checkbox"]:focus + label {
    outline:1px solid #000;
    outline-offset: 5px;
}

.skip-navigation {
    position: absolute;
    left: 0; right: 0;
    top: -100%;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 30px;
    z-index: 1000;
    transition: 0.4s;
}
.skip-navigation:focus {
    top: 0;
}
:root {
    --black: #131313;
    --dark-gray: #222222;
    --gray: #676767 ;
    --white: #ffffff ;
    --gray-border: #efefef;
    --gray-background: #f6f6f6;
    --bright-blue: #17469d;
    --blue: #07255d;
    --dark-blue: #272b36;
    --orange: #f4791f;
    --gray-form-background:#f7f7f7;
    --gray-form: #f4f4f4;
    --gray-form-border: #dddddd;
    --graydf: #dfdfdf;
}

/* header영역 */
.header {
    position: absolute;
    left: 90px; right: 90px; top: 20px;
    z-index: 100;
    background: var(--white);
    transition: background .6s;
}
.header.fixed {
    position: fixed;
}
.header.bg {
    width: 100%;
    top: 0;
    left: 0; right: 0;
    transition: .8s;
}
.header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}
.header > div > nav {
    flex: 1;
    padding-left: 138px;
}
.header-bg {
    display: none;
    position: absolute;
    top: 110px;
    left: 90px; right: 90px;
    height: 330px;
    background: rgb(41, 39, 38, 0.7);
    z-index: 99;
    box-sizing: border-box;
}
.header-bg.bg-fixed {
    position: fixed;
    top: 90px;
}
.header-bg.color{
    background:rgb(41, 39, 38, 0.9);
}
.gnb {
    display: flex;
    font-size: 17px;
    color: var(--dark-gray);
}
.gnb > li > a {
    display: inline-flex;
    align-items: center;
    height: 90px;
    padding: 0 68px 0 38px;
}
.gnb > li > a:hover {
    color: var(--bright-blue);
}
.gnb__list {
    display: none;
    padding: 18px 0;
    position: absolute;
    top: 90px;
    z-index: 100;
}
.gnb__list > li > a {
    display: inline-flex;
    padding: 12px 0 12px 30px;
    width: 100%;
    font-size: 15px;
    color: white;
} 
.gnb__list a:hover {
    color: var(--orange);
}
.menu-btn button {
    font-size: 10px;
    padding-left: 27px;
    background: none;
}
.menu-btn .color {
    color: var(--gray);
    padding-right: 27px;
}
.menu-btn .menu {
    width: 32px;
    height: 22px;
    background: url(../images/bg_menu.png) no-repeat;
}
.list-type1 {
    font-size: 13px;
    color: var(--white);
}
.list-type1 li a::before {
    content: '';
    width: 4px;
    height: 1px;
    background: var(--white);
}
.list-type1 li a {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0 30px;
}


/* index-visual */
.index-visual {
    /* overflow: hidden; */
    position: relative;
}
.index-visual img {
    width: 100%;
}
.index-visual-txt {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
    color: var(--white);
}
.index-visual-txt strong {
    font-size: 35px;
    font-weight: 500;
}
.index-visual-txt p {
    margin: 23px 0 50px;
    font-size: 19px;
}
.index-visual-txt a {
    font-size: 12px;
    width: 200px;
    height: 50px;
    border: 1px solid var(--white);
    border-radius: 26px;
    box-sizing: border-box;
    padding: 18px 54px;
    transition: .5s;
}
.index-visual-txt a:hover {
    background: var(--white);
    color: var(--black);
}
.index-visual-btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    margin: 0 auto;
    z-index: 10;
}
.index-visual-btn .prev {
    width: 70px;
    height: 70px;
    background: url(../images/ico_prev.png) no-repeat;
}
.index-visual-btn .next {
    width: 70px;
    height: 70px;
    background: url(../images/ico_next.png) no-repeat;
}
.index-visual-btn .prev:hover, .index-visual-btn .next:hover {
    opacity: .5;
}
.visual-2 img,
.visual-3 img {
    width: 100%;
}

.business {
    width: 1140px;
    margin: 0 auto;
}
.business h2 {
    padding: 65px 0 28px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.business p {
    padding: 0 0 45px;
    text-align: center;
    font-size: 15px;
}
.business-list {
    display: flex;
    gap: 20px;
}

.business-list .thumb {
    overflow: hidden;
    width: 100%;
    height: 365px;
}
.business-list .thumb img {
    transition: .5s;
}
.business-list a:hover img {
    transform: scale(1.1);
}
.business-list .title {
    padding: 20px 0 10px;
    font-size: 20px;
}
.business-list .subtitle {
    font-size: 15px;
    padding: 0 0 22px;
    border-bottom: 2px solid var(--gray-border);
}
.business-list .information {
    padding: 18px 0 0;
    font-size: 14px;
    color: var(--gray);
}
.business .view {
    text-align: center;
    padding: 44px 0 69px;
}
.view button {
    width: 180px;
    height: 50px;
    font-size: 11px;
    border-radius: 26px;
    border: 1px solid var(--gray);
    box-sizing: border-box;
    background: none;
    transition: .5s;
}
.view button:hover {
    color: var(--white);
    border: 1px solid var(--orange);
    background: var(--orange);
}

.technological-wrap {
    width: 1180px;
    height: 880px;
    margin: 0 auto;
}
.technological {
    background: linear-gradient(to bottom, var(--gray-background), var(--gray-background) 50%, var(--white) 50%, var(--white));
}
.technological h2 {
    text-align: center;
    padding: 55px 0 43px;
    font-size: 30px;
    font-weight: 500;
}
.technological-list {
    width: 1177px;
    margin: 0 auto;
    display: flex;   
    gap: 20px;
}
.technological-list .thumb {
    overflow: hidden;
    width: 100%;
    height: 545px;
}
.technological-list .thumb img {
    transition: .5s;
}
.technological-list a:hover img {
    transform: scale(1.1);
}
.technological-txt {
    position: relative;
}
.technological-txt .txt {
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: 275px; 
    right: 195px;
    color: var(--white);
}
.technological-txt .ico-arrow {
    position: absolute;
    top: 120px;
    left: 50px;
    width: 70px;
    height: 70px;
    background: url(../images/ico_arrow.png) no-repeat;
}
.technological-txt div span {
    font-size: 25px;
}
.technological-txt div b {
    font-size: 32px;
    font-weight: 500;
}
.technological-list li p {
    padding: 30px 0 25px;
    font-size: 15px;
    text-align: center;
    color: var(--gray);
}
.technological-list .view {
    text-align: center;
    padding: 0 0 60px;
}
.public-relations {
    background: linear-gradient(to right, var(--blue), var(--blue) 45%, var(--white) 45%, var(--white));
}
.public-wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 1180px;
    margin: 0 auto;
    padding: 250px 0;
}
.public-relations-left {
    color: var(--white);
}
.public-relations-left p {
    font-size: 24px;
}
.public-relations-left h2 {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 22px;
}
.public-relations-left .line {
    border-bottom: 2px solid var(--white);
    width: 80px;
    margin: 0 0 24px;
}
.public-relations-left span {
    font-size: 16px;
}
.public-relations-right  {
    position: absolute;
    right: 0;
    top: 168px;
}
.public-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 40px;
}
.public-img .thumb img {
    width: 273px;
    height: 175px;
    transition: .5s;
}
.public-img .thumb {
    overflow: hidden;
}
.public-img .thumb:hover img {
    transform: scale(1.1);
}
.public-img p {
    font-size: 15px;
    padding: 14px 0 0;
}
.public-view {
    padding: 50px 0 0;
}
.public-view button {
    width: 180px;
    height: 50px;
    font-size: 11px;
    color: var(--white);
    border-radius: 26px;
    border: 1px solid var(--white);
    box-sizing: border-box;
    background: none;
    transition: .5s;
}
.public-view button:hover {
    color: var(--blue);
    background: var(--white);
}

.about  {
    overflow: hidden;
    position: relative;
}

.about > img {
    width: 100%;
}
.about-txt {
    display: inline-block;
    z-index: 10;
    text-align: left;
    color: var(--white);
}
.about-txt b {
    font-size: 30px;
    font-weight: 500;
}
.about-txt p {
    font-size: 30px;
    padding: 0 0 33px;
}
.about-txt span {
    font-size: 15px;
}
.learn-btn {
    padding: 45px 0 0;
}
.learn-btn button {
    width: 180px;
    height: 50px;
    font-size: 11px;
    color: var(--white);
    border-radius: 26px;
    border: 1px solid var(--white);
    box-sizing: border-box;
    background: none;
    transition: .5s;
}
.learn-btn button:hover {
    color: var(--black);
    background: var(--white);
}
.about-kyungdong {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1180px;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.about .about-a ul {
    display: flex;
    gap: 20px;
    z-index: 10;
    text-align: center;
    color: var(--white);
}
.about-a ul li a {
    display: block;
    width: 220px;
    height: 220px;
}
.about-a .orange {
    background: rgb(237, 93, 0, .7);
}
.about-a .dark-blue {
    background: rgb(11, 16, 33, .7);
}
.about-a .blue {
    background: rgb(8, 26, 65, .7);
}
.about-a ul li div {
    padding: 50px 0 22px;
}
.about-a ul li b {
    font-size: 18px;
    font-weight: 500;
}
.about-a ul li p {
    font-size: 16px;
    padding: 10px 0 0;
}

.footer {
    height: 164px;
    background: var(--black);
}
.footer > div {
    width: 1180px;
    margin: 0 auto;
    color: var(--white);
    font-size: 12px;
}
.footer ul {
    padding: 44px 0 12px;
}



/* kyungdong1-1 */
/* 비주얼 */
.visual-2 {
    position: relative;
}
.visual-txt2 {
    color: var(--white);
    display: flex;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 28px;
}
/* 탭 */
.location {
    width: 1180px;
    margin: 0 auto;
    position: relative;
}
.location > ul {
    display: flex;
}
.location > ul > li {
    width: 100%;
    height: 60px;
    background: var(--bright-blue);
}
.tab {
    position: absolute;
    top: -30px; 
    width: 100%;
}
.location .tab > li > a {
    padding: 22px 20px;
 }
.location > ul >  li + li {
    border-left: 1px solid var(--white);
    box-sizing: border-box;
}
.location .home {
    display: flex;
    width: 60px;
}
.location .home a {
    width: 20px;
    height: 17px;
    background: url(../images/ico_home.png) no-repeat center;
}
.btn-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    width: 100%;
    height: 60px;
    padding: 0 25px;
    color: var(--white);
    background: none;
    text-align: left;
}
.btn-tab::after {
    content: '';
    width: 7px;
    height: 14px;
    background: url(../images/ico_arrow_off.png) no-repeat center;
}
.btn-tab.active::after {
    transform: rotate(90deg);
}

.tab-list {
    display: none;
    border: 1px solid var(--graydf);
    background: var(--gray-border);
}
.tab-list li:not(:last-child) {
    border-bottom: 1px solid var(--graydf);
}
.tab-list li a {
    display: inline-flex;
    padding: 20px 25px;
    width: 100%;
    font-size: 15px;
    color: var(--dark-gray);
    box-sizing: border-box;
}

/* 인사말 */
.ceo-greetings {
    width: 1180px;
    margin: 0 auto;
}
.ceo-greetings h3 {
    font-size: 27px;
    font-weight: 500;
    padding: 80px 0 34px;
    text-align: center;
    border-bottom: 1px solid var(--gray-border) ;
}
.ceo-greetings > div {
    display: flex;
}
.copy .copy-1 {
    font-size: 19px;
    padding: 56px 0 37px;
}
.copy .line {
    width: 80px;
    border: 1px solid var(--bright-blue);
}
.copy .copy-2 {
    font-size: 18px;
    padding: 38px 0 36px;
}
.copy .copy-3 {
    font-size: 16px;
}
.copy .copy-4 {
    font-size: 18px;
    color: var(--bright-blue);
    padding: 35px 0 33px;
}
.copy .copy-5 {
    font-size: 16px;
}
.copy .copy-6 {
    font-size: 16px;
    padding: 77px 0 195px;
}
.copy .copy-6 span {
    font-size: 23px;
}
.greetings-thumb img {
    border: 1px solid var(--gray-border);
    box-sizing: border-box;
    padding: 10px;
    margin: 57px 0 57px 43px;
}


/* kyungdong2-1 */
/* 비주얼 */
.visual-3 {
    position: relative;
}
.visual-txt3 {
    color: var(--white);
    display: flex;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
}
/* 해외투자현황 */
.overseas-development h3 {
    font-size: 28px;
    font-weight: 500;
    padding: 80px 0 34px;
    text-align: center;
    border-bottom: 1px solid var(--gray-border) ;
    width: 1180px;
    margin: 0 auto;
}
.business-txt {
    width: 1180px;
    margin: 0 auto;
}
.business-txt h4 {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    padding: 50px 0 30px;
}
.business-txt .copy-1 {
    font-size: 19px;
    text-align: center;
}
.business-txt .copy-1 span {
    color: var(--bright-blue);
}
.business-txt .copy-2 {
    font-size: 17px;
    text-align: center;
    padding: 26px 0 28px;
}
.information-thumbs ul {
    display: flex;
    gap: 20px;
}
.business-txt .copy-3 {
    font-size: 17px;
    color: var(--bright-blue);
    text-align: center;
    padding: 35px 0 29px;
}
.business-txt .copy-4 {
    font-size: 17px;
    text-align: center;
}
/* 해외자원개발 주요 프로젝트 */
.overseas-project {
    height: 1328px;
    background: var(--gray-form-background);
    margin-top: 55px;
}  
.overseas-project .project {
    width: 1180px;
    margin: 0 auto;
}
.overseas-project .project h4 {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    padding: 50px 0 30px;
}
.overseas-project .project h5 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.project .australia {
    display: flex;
    padding: 29px 0 0;
    gap: 20px;
}

.form tbody {
    border-top: 1px solid var(--bright-blue);
    box-sizing: border-box;
}
.form tr {
    font-size: 16px;
    border-bottom: 1px solid var(--gray-form-border);
    box-sizing: border-box;
}
.form th {
    font-weight: 500;
    text-align: center;
    background: var(--gray-form);
    border-right: 1px solid var(--gray-form-border);
    border-left: 1px solid var(--gray-form-border);
    box-sizing: border-box;
    height: 54px;
}
.form td {
    text-align: center;
    background: var(--white);
    border-right: 1px solid var(--gray-form-border);
}
.form p {
    font-size: 16px;
    color: var(--bright-blue);
    padding: 18px 0;
}

.project .mexico h5 {
    padding: 70px 0 0;
}
.project .mexico p {
    font-size: 17px;
    text-align: center;
    padding: 26px 0 28px;
}
.mexico-form {
    display: flex;
    gap: 20px;
}

/* kyungdong2-2 */
.engineering-business h3 {
    font-size: 28px;
    font-weight: 500;
    padding: 80px 0 34px;
    text-align: center;
    border-bottom: 1px solid var(--gray-border) ;
    width: 1180px;
    margin: 0 auto;
}
.project-form {
    width: 1180px;
    margin: 0 auto;
    text-align: center;
}
.project-form h4 {
    border-top: 1px solid var(--gray-border);
    font-size: 20px;
    font-weight: 500;
    padding: 53px 0 38px;
    margin-top: 41px;
}
.engineering-project tr {
    font-size: 16px;
    border-bottom: 1px solid var(--gray-form-border);
    border-left: 1px solid var(--gray-form-border);
    box-sizing: border-box;
}
.engineering-project thead th {
    padding: 21px 0;
    font-weight: 500;
    background: var(--gray-form);
    border-right: 1px solid var(--gray-form-border);
    border-top: 1px solid var(--bright-blue);
    box-sizing: border-box;
}
.engineering-project tbody td {
    padding: 16px 0 14px;
    background: var(--white);
    border-right: 1px solid var(--gray-form-border);
}

.paging {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 40px 0 50px;
}
.paging ol {
    display: flex;
    align-items: center;
    gap: 12px;
}
.paging ol li {
    font-size: 12px;
    width: 25px;
    height: 25px;
    border: 1px solid var(--white);
    box-sizing: border-box;
}
.paging ol li:hover {
    color: var(--bright-blue);
    width: 25px;
    height: 25px;
    border: 1px solid var(--bright-blue);
    box-sizing: border-box;
}
.paging .btn-first {
    width: 25px;
    height: 25px;
    background: url(../images/btn_first.png) no-repeat;
}
.paging .btn-prev {
    width: 25px;
    height: 25px;
    background: url(../images/btn_prev.png) no-repeat;
}
.paging .btn-next {
    width: 25px;
    height: 25px;
    background: url(../images/btn_next.png) no-repeat;
}
.paging .btn-last {
    width: 25px;
    height: 25px;
    background: url(../images/btn_last.png) no-repeat;
}

/* megamenu */
.dimmed {
    position: fixed;
    left: 0; right: 0; top:0; bottom:0;
    z-index: var(--zindex);
    background-color: rgba(0, 0, 0, 0.7);
}
.megamenu__wrap {
    padding: 55px 40px;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--zindex);
    width: 960px;
    border-top: 3px solid var(--blue);
    background: var(--white);
    box-sizing: border-box;
}
.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url(../images/ico_close.png);
}
.megamenu {
    display: flex;
    justify-content: space-between;
}
.megamenu > li > a {
    display: inline-flex;
    padding: 20px;
    width: 240px;
    font-size: 18px;
    font-weight: 500;
    color: var(--blue);
    border-bottom: 2px solid var(--blue) ;
    box-sizing: border-box;
}
.megamenu__list .list-type1 {
    font-size: 13px;
    color: var(--gray);
}
.megamenu__list .list-type1 li a::before {
    content: '';
    width: 4px;
    height: 2px;
    background: var(--gray);
}
.megamenu__list .list-type1 li a {
    display: flex;
    gap: 11px;
    align-items: center;
    padding: 8px 20px;
}
.megamenu__list .list-type1 li:last-child {
    padding: 0 0 30px;
}
.megamenu__list > li {
    color: var(--bright-blue);
    border-bottom: 1px solid var(--graydf);
}
.megamenu__list > li > a {
    display: inline-flex;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.mt35 {margin-top: 35px;}

/* 슬라이드 */
.swiper.index-visual-slide .index-visual__txt ,
.swiper.index-visual-slide img  {
    opacity: 0;
    transform: translateY(150px);
}
.swiper.index-visual-slide .swiper-slide.swiper-slide-active img {
    animation: toleft 1 .7s 1s both;
}
.swiper.index-visual-slide .swiper-slide.swiper-slide-active .index-visual-txt strong {
    animation: toleft 1 1.2s 1.5s both;
}

@keyframes toleft {
    0% {opacity: 0; transform: translateY(150px);}
    100% {opacity: 1; transform: translateY(0);}
}


/*  */
input[type="radio"]:focus + label,
input[type="checkbox"]:focus + label {
    outline:1px solid #000;
    outline-offset: 5px;
}

.skip-navigation {
    position: absolute;
    left: 0; right: 0;
    top: -100%;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 30px;
    z-index: 1000;
    transition: 0.4s;
}
.skip-navigation:focus {
    top: 0;
}
:root {
    --black: #131313;
    --dark-gray: #222222;
    --gray: #676767 ;
    --white: #ffffff ;
    --gray-border: #efefef;
    --gray-background: #f6f6f6;
    --bright-blue: #17469d;
    --blue: #07255d;
    --dark-blue: #272b36;
    --orange: #f4791f;
    --gray-form-background:#f7f7f7;
    --gray-form: #f4f4f4;
    --gray-form-border: #dddddd;
    --graydf: #dfdfdf;
}

/* header영역 */
.header {
    position: absolute;
    left: 90px; right: 90px; top: 20px;
    z-index: 100;
    background: var(--white);
    transition: background .6s;
}
.header.fixed {
    position: fixed;
}
.header.bg {
    width: 100%;
    top: 0;
    left: 0; right: 0;
    transition: .8s;
}
.header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}
.header > div > nav {
    flex: 1;
    padding-left: 138px;
}
.header-bg {
    display: none;
    position: absolute;
    top: 110px;
    left: 90px; right: 90px;
    height: 330px;
    background: rgb(41, 39, 38, 0.7);
    z-index: 99;
    box-sizing: border-box;
}
.header-bg.bg-fixed {
    position: fixed;
    top: 90px;
}
.header-bg.color{
    background:rgb(41, 39, 38, 0.9);
}
.gnb {
    display: flex;
    font-size: 17px;
    color: var(--dark-gray);
}
.gnb > li > a {
    display: inline-flex;
    align-items: center;
    height: 90px;
    padding: 0 68px 0 38px;
}
.gnb > li > a:hover {
    color: var(--bright-blue);
}
.gnb__list {
    display: none;
    padding: 18px 0;
    position: absolute;
    top: 90px;
    z-index: 100;
}
.gnb__list > li > a {
    display: inline-flex;
    padding: 12px 0 12px 30px;
    width: 100%;
    font-size: 15px;
    color: white;
} 
.gnb__list a:hover {
    color: var(--orange);
}
.menu-btn button {
    font-size: 10px;
    padding-left: 27px;
    background: none;
}
.menu-btn .color {
    color: var(--gray);
    padding-right: 27px;
}
.menu-btn .menu {
    width: 32px;
    height: 22px;
    background: url(../images/bg_menu.png) no-repeat;
}
.list-type1 {
    font-size: 13px;
    color: var(--white);
}
.list-type1 li a::before {
    content: '';
    width: 4px;
    height: 1px;
    background: var(--white);
}
.list-type1 li a {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0 30px;
}


/* index-visual */
.index-visual {
    /* overflow: hidden; */
    position: relative;
}
.index-visual img {
    width: 100%;
}
.index-visual-txt {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
    color: var(--white);
}
.index-visual-txt strong {
    font-size: 35px;
    font-weight: 500;
}
.index-visual-txt p {
    margin: 23px 0 50px;
    font-size: 19px;
}
.index-visual-txt a {
    font-size: 12px;
    width: 200px;
    height: 50px;
    border: 1px solid var(--white);
    border-radius: 26px;
    box-sizing: border-box;
    padding: 18px 54px;
    transition: .5s;
}
.index-visual-txt a:hover {
    background: var(--white);
    color: var(--black);
}
.index-visual-btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    margin: 0 auto;
    z-index: 10;
}
.index-visual-btn .prev {
    width: 70px;
    height: 70px;
    background: url(../images/ico_prev.png) no-repeat;
}
.index-visual-btn .next {
    width: 70px;
    height: 70px;
    background: url(../images/ico_next.png) no-repeat;
}
.index-visual-btn .prev:hover, .index-visual-btn .next:hover {
    opacity: .5;
}
.visual-2 img,
.visual-3 img {
    width: 100%;
}

.business {
    width: 1140px;
    margin: 0 auto;
}
.business h2 {
    padding: 65px 0 28px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.business p {
    padding: 0 0 45px;
    text-align: center;
    font-size: 15px;
}
.business-list {
    display: flex;
    gap: 20px;
}

.business-list .thumb {
    overflow: hidden;
    width: 100%;
    height: 365px;
}
.business-list .thumb img {
    transition: .5s;
}
.business-list a:hover img {
    transform: scale(1.1);
}
.business-list .title {
    padding: 20px 0 10px;
    font-size: 20px;
}
.business-list .subtitle {
    font-size: 15px;
    padding: 0 0 22px;
    border-bottom: 2px solid var(--gray-border);
}
.business-list .information {
    padding: 18px 0 0;
    font-size: 14px;
    color: var(--gray);
}
.business .view {
    text-align: center;
    padding: 44px 0 69px;
}
.view button {
    width: 180px;
    height: 50px;
    font-size: 11px;
    border-radius: 26px;
    border: 1px solid var(--gray);
    box-sizing: border-box;
    background: none;
    transition: .5s;
}
.view button:hover {
    color: var(--white);
    border: 1px solid var(--orange);
    background: var(--orange);
}

.technological-wrap {
    width: 1180px;
    height: 880px;
    margin: 0 auto;
}
.technological {
    background: linear-gradient(to bottom, var(--gray-background), var(--gray-background) 50%, var(--white) 50%, var(--white));
}
.technological h2 {
    text-align: center;
    padding: 55px 0 43px;
    font-size: 30px;
    font-weight: 500;
}
.technological-list {
    width: 1177px;
    margin: 0 auto;
    display: flex;   
    gap: 20px;
}
.technological-list .thumb {
    overflow: hidden;
    width: 100%;
    height: 545px;
}
.technological-list .thumb img {
    transition: .5s;
}
.technological-list a:hover img {
    transform: scale(1.1);
}
.technological-txt {
    position: relative;
}
.technological-txt .txt {
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: 275px; 
    right: 195px;
    color: var(--white);
}
.technological-txt .ico-arrow {
    position: absolute;
    top: 120px;
    left: 50px;
    width: 70px;
    height: 70px;
    background: url(../images/ico_arrow.png) no-repeat;
}
.technological-txt div span {
    font-size: 25px;
}
.technological-txt div b {
    font-size: 32px;
    font-weight: 500;
}
.technological-list li p {
    padding: 30px 0 25px;
    font-size: 15px;
    text-align: center;
    color: var(--gray);
}
.technological-list .view {
    text-align: center;
    padding: 0 0 60px;
}
.public-relations {
    background: linear-gradient(to right, var(--blue), var(--blue) 45%, var(--white) 45%, var(--white));
}
.public-wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 1180px;
    margin: 0 auto;
    padding: 250px 0;
}
.public-relations-left {
    color: var(--white);
}
.public-relations-left p {
    font-size: 24px;
}
.public-relations-left h2 {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 22px;
}
.public-relations-left .line {
    border-bottom: 2px solid var(--white);
    width: 80px;
    margin: 0 0 24px;
}
.public-relations-left span {
    font-size: 16px;
}
.public-relations-right  {
    position: absolute;
    right: 0;
    top: 168px;
}
.public-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 40px;
}
.public-img .thumb img {
    width: 273px;
    height: 175px;
    transition: .5s;
}
.public-img .thumb {
    overflow: hidden;
}
.public-img .thumb:hover img {
    transform: scale(1.1);
}
.public-img p {
    font-size: 15px;
    padding: 14px 0 0;
}
.public-view {
    padding: 50px 0 0;
}
.public-view button {
    width: 180px;
    height: 50px;
    font-size: 11px;
    color: var(--white);
    border-radius: 26px;
    border: 1px solid var(--white);
    box-sizing: border-box;
    background: none;
    transition: .5s;
}
.public-view button:hover {
    color: var(--blue);
    background: var(--white);
}

.about  {
    overflow: hidden;
    position: relative;
}

.about > img {
    width: 100%;
}
.about-txt {
    display: inline-block;
    z-index: 10;
    text-align: left;
    color: var(--white);
}
.about-txt b {
    font-size: 30px;
    font-weight: 500;
}
.about-txt p {
    font-size: 30px;
    padding: 0 0 33px;
}
.about-txt span {
    font-size: 15px;
}
.learn-btn {
    padding: 45px 0 0;
}
.learn-btn button {
    width: 180px;
    height: 50px;
    font-size: 11px;
    color: var(--white);
    border-radius: 26px;
    border: 1px solid var(--white);
    box-sizing: border-box;
    background: none;
    transition: .5s;
}
.learn-btn button:hover {
    color: var(--black);
    background: var(--white);
}
.about-kyungdong {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1180px;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.about .about-a ul {
    display: flex;
    gap: 20px;
    z-index: 10;
    text-align: center;
    color: var(--white);
}
.about-a ul li a {
    display: block;
    width: 220px;
    height: 220px;
}
.about-a .orange {
    background: rgb(237, 93, 0, .7);
}
.about-a .dark-blue {
    background: rgb(11, 16, 33, .7);
}
.about-a .blue {
    background: rgb(8, 26, 65, .7);
}
.about-a ul li div {
    padding: 50px 0 22px;
}
.about-a ul li b {
    font-size: 18px;
    font-weight: 500;
}
.about-a ul li p {
    font-size: 16px;
    padding: 10px 0 0;
}

.footer {
    height: 164px;
    background: var(--black);
}
.footer > div {
    width: 1180px;
    margin: 0 auto;
    color: var(--white);
    font-size: 12px;
}
.footer ul {
    padding: 44px 0 12px;
}



/* kyungdong1-1 */
/* 비주얼 */
.visual-2 {
    position: relative;
}
.visual-txt2 {
    color: var(--white);
    display: flex;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 28px;
}
/* 탭 */
.location {
    width: 1180px;
    margin: 0 auto;
    position: relative;
}
.location > ul {
    display: flex;
}
.location > ul > li {
    width: 100%;
    height: 60px;
    background: var(--bright-blue);
}
.tab {
    position: absolute;
    top: -30px; 
    width: 100%;
}
.location .tab > li > a {
    padding: 22px 20px;
 }
.location > ul >  li + li {
    border-left: 1px solid var(--white);
    box-sizing: border-box;
}
.location .home {
    display: flex;
    width: 60px;
}
.location .home a {
    width: 20px;
    height: 17px;
    background: url(../images/ico_home.png) no-repeat center;
}
.btn-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    width: 100%;
    height: 60px;
    padding: 0 25px;
    color: var(--white);
    background: none;
    text-align: left;
}
.btn-tab::after {
    content: '';
    width: 7px;
    height: 14px;
    background: url(../images/ico_arrow_off.png) no-repeat center;
}
.btn-tab.active::after {
    transform: rotate(90deg);
}

.tab-list {
    display: none;
    border: 1px solid var(--graydf);
    background: var(--gray-border);
}
.tab-list li:not(:last-child) {
    border-bottom: 1px solid var(--graydf);
}
.tab-list li a {
    display: inline-flex;
    padding: 20px 25px;
    width: 100%;
    font-size: 15px;
    color: var(--dark-gray);
    box-sizing: border-box;
}

/* 인사말 */
.ceo-greetings {
    width: 1180px;
    margin: 0 auto;
}
.ceo-greetings h3 {
    font-size: 27px;
    font-weight: 500;
    padding: 80px 0 34px;
    text-align: center;
    border-bottom: 1px solid var(--gray-border) ;
}
.ceo-greetings > div {
    display: flex;
}
.copy .copy-1 {
    font-size: 19px;
    padding: 56px 0 37px;
}
.copy .line {
    width: 80px;
    border: 1px solid var(--bright-blue);
}
.copy .copy-2 {
    font-size: 18px;
    padding: 38px 0 36px;
}
.copy .copy-3 {
    font-size: 16px;
}
.copy .copy-4 {
    font-size: 18px;
    color: var(--bright-blue);
    padding: 35px 0 33px;
}
.copy .copy-5 {
    font-size: 16px;
}
.copy .copy-6 {
    font-size: 16px;
    padding: 77px 0 195px;
}
.copy .copy-6 span {
    font-size: 23px;
}
.greetings-thumb img {
    border: 1px solid var(--gray-border);
    box-sizing: border-box;
    padding: 10px;
    margin: 57px 0 57px 43px;
}


/* kyungdong2-1 */
/* 비주얼 */
.visual-3 {
    position: relative;
}
.visual-txt3 {
    color: var(--white);
    display: flex;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
}
/* 해외투자현황 */
.overseas-development h3 {
    font-size: 28px;
    font-weight: 500;
    padding: 80px 0 34px;
    text-align: center;
    border-bottom: 1px solid var(--gray-border) ;
    width: 1180px;
    margin: 0 auto;
}
.business-txt {
    width: 1180px;
    margin: 0 auto;
}
.business-txt h4 {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    padding: 50px 0 30px;
}
.business-txt .copy-1 {
    font-size: 19px;
    text-align: center;
}
.business-txt .copy-1 span {
    color: var(--bright-blue);
}
.business-txt .copy-2 {
    font-size: 17px;
    text-align: center;
    padding: 26px 0 28px;
}
.information-thumbs ul {
    display: flex;
    gap: 20px;
}
.business-txt .copy-3 {
    font-size: 17px;
    color: var(--bright-blue);
    text-align: center;
    padding: 35px 0 29px;
}
.business-txt .copy-4 {
    font-size: 17px;
    text-align: center;
}
/* 해외자원개발 주요 프로젝트 */
.overseas-project {
    height: 1328px;
    background: var(--gray-form-background);
    margin-top: 55px;
}  
.overseas-project .project {
    width: 1180px;
    margin: 0 auto;
}
.overseas-project .project h4 {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    padding: 50px 0 30px;
}
.overseas-project .project h5 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.project .australia {
    display: flex;
    padding: 29px 0 0;
    gap: 20px;
}

.form tbody {
    border-top: 1px solid var(--bright-blue);
    box-sizing: border-box;
}
.form tr {
    font-size: 16px;
    border-bottom: 1px solid var(--gray-form-border);
    box-sizing: border-box;
}
.form th {
    font-weight: 500;
    text-align: center;
    background: var(--gray-form);
    border-right: 1px solid var(--gray-form-border);
    border-left: 1px solid var(--gray-form-border);
    box-sizing: border-box;
    height: 54px;
}
.form td {
    text-align: center;
    background: var(--white);
    border-right: 1px solid var(--gray-form-border);
}
.form p {
    font-size: 16px;
    color: var(--bright-blue);
    padding: 18px 0;
}

.project .mexico h5 {
    padding: 70px 0 0;
}
.project .mexico p {
    font-size: 17px;
    text-align: center;
    padding: 26px 0 28px;
}
.mexico-form {
    display: flex;
    gap: 20px;
}

/* kyungdong2-2 */
.engineering-business h3 {
    font-size: 28px;
    font-weight: 500;
    padding: 80px 0 34px;
    text-align: center;
    border-bottom: 1px solid var(--gray-border) ;
    width: 1180px;
    margin: 0 auto;
}
.project-form {
    width: 1180px;
    margin: 0 auto;
    text-align: center;
}
.project-form h4 {
    border-top: 1px solid var(--gray-border);
    font-size: 20px;
    font-weight: 500;
    padding: 53px 0 38px;
    margin-top: 41px;
}
.engineering-project tr {
    font-size: 16px;
    border-bottom: 1px solid var(--gray-form-border);
    border-left: 1px solid var(--gray-form-border);
    box-sizing: border-box;
}
.engineering-project thead th {
    padding: 21px 0;
    font-weight: 500;
    background: var(--gray-form);
    border-right: 1px solid var(--gray-form-border);
    border-top: 1px solid var(--bright-blue);
    box-sizing: border-box;
}
.engineering-project tbody td {
    padding: 16px 0 14px;
    background: var(--white);
    border-right: 1px solid var(--gray-form-border);
}

.paging {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 40px 0 50px;
}
.paging ol {
    display: flex;
    align-items: center;
    gap: 12px;
}
.paging ol li {
    font-size: 12px;
    width: 25px;
    height: 25px;
    border: 1px solid var(--white);
    box-sizing: border-box;
}
.paging ol li:hover {
    color: var(--bright-blue);
    width: 25px;
    height: 25px;
    border: 1px solid var(--bright-blue);
    box-sizing: border-box;
}
.paging .btn-first {
    width: 25px;
    height: 25px;
    background: url(../images/btn_first.png) no-repeat;
}
.paging .btn-prev {
    width: 25px;
    height: 25px;
    background: url(../images/btn_prev.png) no-repeat;
}
.paging .btn-next {
    width: 25px;
    height: 25px;
    background: url(../images/btn_next.png) no-repeat;
}
.paging .btn-last {
    width: 25px;
    height: 25px;
    background: url(../images/btn_last.png) no-repeat;
}

/* megamenu */
.dimmed {
    position: fixed;
    left: 0; right: 0; top:0; bottom:0;
    z-index: var(--zindex);
    background-color: rgba(0, 0, 0, 0.7);
}
.megamenu__wrap {
    padding: 55px 40px;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--zindex);
    width: 960px;
    border-top: 3px solid var(--blue);
    background: var(--white);
    box-sizing: border-box;
}
.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url(../images/ico_close.png);
}
.megamenu {
    display: flex;
    justify-content: space-between;
}
.megamenu > li > a {
    display: inline-flex;
    padding: 20px;
    width: 240px;
    font-size: 18px;
    font-weight: 500;
    color: var(--blue);
    border-bottom: 2px solid var(--blue) ;
    box-sizing: border-box;
}
.megamenu__list .list-type1 {
    font-size: 13px;
    color: var(--gray);
}
.megamenu__list .list-type1 li a::before {
    content: '';
    width: 4px;
    height: 2px;
    background: var(--gray);
}
.megamenu__list .list-type1 li a {
    display: flex;
    gap: 11px;
    align-items: center;
    padding: 8px 20px;
}
.megamenu__list .list-type1 li:last-child {
    padding: 0 0 30px;
}
.megamenu__list > li {
    color: var(--bright-blue);
    border-bottom: 1px solid var(--graydf);
}
.megamenu__list > li > a {
    display: inline-flex;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.mt35 {margin-top: 35px;}

/* 슬라이드 */
.swiper.index-visual-slide .index-visual__txt ,
.swiper.index-visual-slide img  {
    opacity: 0;
    transform: translateY(150px);
}
.swiper.index-visual-slide .swiper-slide.swiper-slide-active img {
    animation: toleft 1 1s 1s both;
}
.swiper.index-visual-slide .swiper-slide.swiper-slide-active .index-visual-txt strong {
    animation: toleft 1 1.2s 1.5s both;
}
.swiper.index-visual-slide .swiper-slide.swiper-slide-active .index-visual-txt p {
    animation: toleft 1 1.5s 1.8s both;
}
.swiper.index-visual-slide .swiper-slide.swiper-slide-active .index-visual-txt a {
    animation: toleft 1 1.8s 2.3s both;
}

@keyframes toleft {
    0% {opacity: 0; transform: translateY(150px);}
    100% {opacity: 1; transform: translateY(0);}
}


/*  */
input[type="radio"]:focus + label,
input[type="checkbox"]:focus + label {
    outline:1px solid #000;
    outline-offset: 5px;
}

.skip-navigation {
    position: absolute;
    left: 0; right: 0;
    top: -100%;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 30px;
    z-index: 1000;
    transition: 0.4s;
}
.skip-navigation:focus {
    top: 0;
}


/*스크롤바 */
*::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

